# Secrets
functions/.env
Config.local.xcconfig

# Xcode
.DS_Store
.xcworkspace
xcuserdata/
*.xcworkspace/
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
DerivedData/
build/
.build/

# Config files with secrets
IronmanTrainer/Config.plist

# CocoaPods
Pods/
Podfile.lock

# Environment
.env
.env.local
