# Secrets
functions/.env

# Xcode
.DS_Store
.xcworkspace
xcuserdata/
*.xcworkspace/
DerivedData/
build/
.build/

# Config files with secrets
Config.xcconfig
IronmanTrainer/Config.plist

# CocoaPods
Pods/
Podfile.lock

# Environment
.env
.env.local
